<wm-page layouttype="three-column" columns="3" data-ng-controller="MainPageController" name="mainpage">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="top-nav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-row name="contentRow">
            <wm-left-panel contentwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
            <wm-column class="app-content-column" columnwidth="8" paddingleft="15" paddingright="15" name="mainContent">
                <wm-label caption="Home" fontsize="20" name="Heading"></wm-label>
                <wm-html height="auto" width="100%" name="bodyContent">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum porta gravida nisi, ac volutpat nibh adipiscing et. Fusce hendrerit nisi sed augue molestie pellentesque. Proin quis leo condimentum, tempus augue sit amet, aliquet
                        erat.
                    </p>
                </wm-html>
                <wm-composite widget="text" name="composite1">
                    <wm-label class="col-md-2" name="label2"></wm-label>
                    <wm-text name="text1"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite2">
                    <wm-label class="col-md-2" name="label3"></wm-label>
                    <wm-text name="text2"></wm-text>
                </wm-composite>
                <wm-buttongroup name="buttongroup1">
                    <wm-button caption="left" name="button1"></wm-button>
                    <wm-button caption="center" name="button2"></wm-button>
                    <wm-button caption="right" name="button3"></wm-button>
                </wm-buttongroup>
                <wm-composite widget="textarea" name="composite3">
                    <wm-label class="col-md-2" name="label4"></wm-label>
                    <wm-textarea name="textarea1"></wm-textarea>
                </wm-composite>
                <wm-composite widget="select" name="composite14">
                    <wm-label class="col-md-2" name="label15"></wm-label>
                    <wm-select name="select3"></wm-select>
                </wm-composite>
                <wm-composite widget="radio" name="composite4">
                    <wm-radio class="col-md-push-2" name="radio1"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label5"></wm-label>
                </wm-composite>
                <wm-buttongroup name="buttongroup2">
                    <wm-button caption="left" name="button4"></wm-button>
                    <wm-button caption="center" name="button5"></wm-button>
                    <wm-button caption="right" name="button6"></wm-button>
                </wm-buttongroup>
                <wm-composite widget="select" name="composite5">
                    <wm-label class="col-md-2" name="label6"></wm-label>
                    <wm-select name="select1"></wm-select>
                </wm-composite>
                <wm-composite widget="text" name="composite5">
                    <wm-label class="col-md-2" name="label6"></wm-label>
                    <wm-text name="text3"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite7">
                    <wm-label class="col-md-2" name="label8"></wm-label>
                    <wm-text name="text4"></wm-text>
                </wm-composite>
                <wm-composite widget="radio" name="composite8">
                    <wm-radio class="col-md-push-2" name="radio2"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label9"></wm-label>
                </wm-composite>
                <wm-composite widget="radio" name="composite9">
                    <wm-radio class="col-md-push-2" name="radio3"></wm-radio>
                    <wm-label class="col-md-2 col-md-push-2" name="label10"></wm-label>
                </wm-composite>
                <wm-composite widget="textarea" name="composite10">
                    <wm-label class="col-md-2" name="label11"></wm-label>
                    <wm-textarea name="textarea2"></wm-textarea>
                </wm-composite>
                <wm-composite widget="text" name="composite15">
                    <wm-label class="col-md-2" name="label16"></wm-label>
                    <wm-text name="text7"></wm-text>
                </wm-composite>
                <wm-composite widget="text" name="composite10">
                    <wm-label class="col-md-2" name="label11"></wm-label>
                    <wm-text name="text5"></wm-text>
                </wm-composite>
                <wm-composite widget="select" name="composite9">
                    <wm-label class="col-md-2" name="label10"></wm-label>
                    <wm-select name="select2"></wm-select>
                </wm-composite>
                <wm-composite widget="text" name="composite11">
                    <wm-label class="col-md-2" name="label12"></wm-label>
                    <wm-text name="text6"></wm-text>
                </wm-composite>
            </wm-column>
            <wm-right-panel contentwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
        </wm-row>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>